.document__content
    // Страница 1
    .document__item
        h1.document__title.document__title--h2.document__title--red Отчет по кредитным договорам
        .document__caption Договор №149, ООО «Кредитное бюро Русский Стандарт»
        .document__list
            .document__list-item
                .document__item-title Сведения об источнике:
                table.document__list-content
                    tr 
                        td.document__list-icon
                            img(src="img/house.svg", alt="")
                        td.document__columns
                            table 
                                tr 
                                    td.document__column
                                        .document__column-title Сокращенное наименование и вид источника:
                                        ul.document__column-text
                                            li ПАО СБЕРБАНК
                                            li <span>Займодавец (кредитор) - кредитная организация</span>
                                    td.document__column
                                        .document__column-title Полное и иное наименование:
                                        ul.document__column-text
                                            li ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО СБЕРБАНК РОССИИ
                                    td.document__column
                                        .document__column-title ИНН и ОГРН (ОГРНИП)
                                        ul.document__column-text
                                            li ИНН 7707083893
                                            li ОГРН 1027700132195
                                    td.document__column
                                        .document__column-title Дата создания источника:
                                        ul.document__column-text
                                            li 20.06.1991
            .document__list-item
                .document__item-title Общие сведения о сделке:
                table.document__list-content
                    tr 
                        td.document__list-icon
                            img(src="img/doc-1.svg", alt="")
                        td.document__columns
                            table 
                                tr 
                                    td.document__column
                                        .document__column-title Вид участия в сделке:
                                        ul.document__column-text
                                            li Заемщик
                                    td.document__column
                                        .document__column-title Тип сделки:
                                        ul.document__column-text
                                            li Договор займа (кредита)
                                    td.document__column
                                        .document__column-title Вид займа (кредита):
                                        ul.document__column-text
                                            li Кредитная линия с лимитом задолжености
                                    td.document__column
                                        .document__column-title Цель займа:
                                        ul.document__column-text
                                            li Цель не определена
                                tr 
                                    td.document__column
                                        .document__column-title Основание прекращения обязательста:
                                        ul.document__column-text
                                            li Надлежащее исполнение обязательства
                                    td.document__column
                                        .document__column-title Признак использования платежной карты:
                                        ul.document__column-text
                                            li Да
                                    td.document__column
                                        .document__column-title Признак возникновения обязательства в результате новации:
                                        ul.document__column-text
                                            li Нет
                                    td.document__column
                                        .document__column-title Признак денежного обязательства источника:
                                        ul.document__column-text
                                            li —
                                tr 
                                    td.document__column
                                        .document__column-title Число солидарных должников:
                                        ul.document__column-text
                                            li —
                                    td.document__column
                                        .document__column-title Признака потребительского кредита (займа)
                                        ul.document__column-text
                                            li Да
                                    td.document__column
                                        .document__column-title Признак денежного обязательства субъекта:
                                        ul.document__column-text
                                            li —
                                    td.document__column
                                        .document__column-title Сведения об учете обязательства:
                                        ul.document__column-text
                                            li —
                                tr 
                                    td.document__column
                                        .document__column-title Сведения об учете обязательства:
                                        ul.document__column-text
                                            li —
                                    td.document__column
                                        .document__column-title Уникальный идентификатор договора (сделки) 
                                        ul.document__column-text
                                            li 40000000-39EF-1220-8309-00000012F408-A
            .document__list-item
                .document__item-title Сведения об условиях платежей:
                table.document__list-content
                    tr 
                        td.document__list-icon
                            img(src="img/doc-2.svg", alt="")
                        td.document__columns
                            table 
                                tr 
                                    td.document__column
                                        .document__column-title Полная стоимость кредита (займа) в денежном выражении:
                                        ul.document__column-text
                                            li 0 RUR
                                    td.document__column
                                        .document__column-title Полная стоимость кредита (займа) в процентах годовых:
                                        ul.document__column-text
                                            li 26.03 %  
                                    td.document__column
                                        .document__column-title Полная стоимость кредита (займа) в денежном выражении:
                                        ul.document__column-text
                                            li 250 000 RUR
                                    td.document__column
                                        .document__column-title Сумма и валюта обязательства:
                                        ul.document__column-text
                                            li 0 RUR
                                tr 
                                    td.document__column
                                        .document__column-title Сумма обеспечиваемого обязательства:
                                        ul.document__column-text
                                            li 0 RUR
                                    td.document__column
                                        .document__column-title Сумма и дата ближайшего следующего платежа по основному долгу:
                                        ul.document__column-text
                                            li 0 RUR / 2.08.2023
                                    td.document__column
                                        .document__column-title Сумма и дата ближайшего следующего платежа по процентам:
                                        ul.document__column-text
                                            li 0 RUR / 2.08.2023    
                                    td.document__column
                                        .document__column-title Сумма минимального платежа по кредитной карте:
                                        ul.document__column-text
                                            li Иное
                                tr 
                                    td.document__column
                                        .document__column-title Дата начала и окончания беспроцентного периода:
                                        ul.document__column-text
                                            li —
                                    td.document__column
                                        .document__column-title Дата окончания срока уплаты процентов:
                                        ul.document__column-text
                                            li 26.08.2023
            .document__list-item
                .document__item-title Сведения о сумме всех внесенных платежей:
                table.document__list-content
                    tr 
                        td.document__list-icon
                            img(src="img/doc-3.svg", alt="")
                        td.document__columns
                            table 
                                tr 
                                    td.document__column
                                        .document__column-title По обязательству:
                                        ul.document__column-text
                                            li 0 RUR
                                    td.document__column
                                        .document__column-title По основному долгу:
                                        ul.document__column-text
                                            li 0 RUR
                                    td.document__column
                                        .document__column-title По процентам:
                                        ul.document__column-text
                                            li 0 RUR
                                    td.document__column
                                        .document__column-title По иным требованиям:
                                        ul.document__column-text
                                            li 0 RUR
        .document__content  
            .document__item-title Фактические платежи по договору:
            table.document__statuses
                tr 
                    td.document__status  
                        span.document__status-icon 
                            img(src="img/status-1.svg", alt="")
                        span.document__status-text Платеж внесен своевременно и в полном объеме:
                    td.document__status  
                        span.document__status-icon 
                            img(src="img/status-2.svg", alt="")
                        span.document__status-text Платеж внесен несвоевременно и в полном объеме:
                    td.document__status  
                        span.document__status-icon 
                            img(src="img/status-3.svg", alt="")
                        span.document__status-text Платеж внесен несвоевременно и в неполном объеме:
                    td.document__status  
                        span.document__status-icon 
                            img(src="img/status-4.svg", alt="")
                        span.document__status-text Платеж не внесен:
        table.document__table(cellpadding="0" border="0")
            thead 
                tr 
                    td Дата события:
                    td Статус платежа
                    td Сумма платежа
                    td Сумма по основному долгу
                    td Сумма по процентам
                    td Сумма по иным требованиям
                    td Срочная задолженность
                    td Просроченная задолженность
                    td Просрочка (дн)
            tbody 
                tr 
                    td 28.02.2023
                    td 
                        img(src="img/status-1.svg", alt="")
                    td 18 134,95 RUR
                    td 12 427,72 RUR
                    td 1 415,72 RUR
                    td 4 291,72 RUR
                    td 318 400 RUR
                    td 0 RUR
                    td 0
                tr 
                    td 28.02.2023
                    td 
                        img(src="img/status-2.svg", alt="")
                    td 18 134,95 RUR
                    td 12 427,72 RUR
                    td 1 415,72 RUR
                    td 4 291,72 RUR
                    td 318 400 RUR
                    td 0 RUR
                    td 0
                tr 
                    td 28.02.2023
                    td 
                        img(src="img/status-3.svg", alt="")
                    td 0 RUR
                    td 12 427,72 RUR
                    td 1 415,72 RUR
                    td 4 291,72 RUR
                    td 318 400 RUR
                    td 18 134,95 RUR
                    td 10
                tr 
                    td 28.02.2023
                    td 
                        img(src="img/status-4.svg", alt="")
                    td 18 134,95 RUR
                    td 12 427,72 RUR
                    td 1 415,72 RUR
                    td 4 291,72 RUR
                    td 318 400 RUR
                    td 0 RUR
                    td 0
        .document__bottom   
            .document__bottom-text ООО «Кредитное бюро Русский Стандарт», 105318, г. Москва, Семеновская площадь, д. 7, корпус 1, Тел.: +7 (495) 609-64-24, факс: +7 (495) 609-64-24, rscb@rs-cb.ru | www.rs-cb.ru | ОГРН 1057747734934, ИНН/КПП: 7719562097/771901001, номер в государственном реестре бюро кредитных историй 077-00010-002
            .document__pages Страница: <span>5</span> <span>из 8</span>
            