*{
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 2px;
        background: linear-gradient(95.56deg, rgba(238, 238, 250, 0.8) 0%, rgba(238, 238, 250, 0.6) 100%);
    }

    &::-webkit-scrollbar-thumb {
        background: #D9D9D9;
        border-radius: 2px;
    }
}

html, body {
    min-width: 320px;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: $primary_font;
    font-style: normal;
    letter-spacing: normal;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
    color: #333333;
}

.main {
    z-index: z("l-default");
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.l {
    &-default {
        position: relative;
        z-index: z("l-default");
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

